header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50;
  background-color: var(--color-theme);
  color: white;

  // border-bottom: var(--border);
  .inner {
    padding: var(--space-md);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  nav li.is-active {
    color: white;
    text-decoration: underline;
  }

  nav li,
  button {
    &:hover {
      color: white;
    }
  }
  @media all and (max-width: $md) {
    .inner {
      padding: var(--space-sm);
    }
  }
}
