header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50;
  background-color: black;
  color: white;

  border-bottom: var(--border);
  .inner {
    padding: var(--space-md);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  @media all and (max-width: $md) {
  }
}
