.studio-ui {
  // padding: 0.5em var(--space-md);
  text-transform: uppercase;
  .icon-play {
    opacity: 0;
  }
  &:hover,
  &.is-active {
    .icon-play {
      // opacity: 1;
      animation: blink-animation 1s infinite;
    }
    .infos {
      background-color: var(--color-theme);
      color: white;
    }
  }
  .thumbnail {
    width: 60px;
    // height: 90px;
    aspect-ratio: 1 / 1.41;
    height: auto;
    img {
      // height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  .track-infos-header {
    max-width: calc(100% - 3.1em);
  }
  &.is-active {
    .progress {
      width: 100%;
    }
  }
  .progress {
    background-color: var(--color-theme);
    transform-origin: left;
    mix-blend-mode: screen;
    width: 0;
    // background-color: white;
    transition: transform 0.2s;
  }

  .logo {
    max-width: 100%;
  }
  @media all and (max-width: $md) {
    & > .grid {
      display: flex;
      flex-direction: column-reverse;
    }
    .thumbnail {
      width: 50px;
      height: 50px;
      display: none;
    }
    .logo {
      grid-column: 1;
      grid-row: 1; /* NEW */
    }
    .ellipsis {
      overflow: unset;
      white-space: unset;
      text-overflow: unset;
    }
  }
}

.p-txt {
  padding: 0.2em 0.4em;
}

@keyframes blink-animation {
  to {
    opacity: 1;
  }
}
